<!DOCTYPE html>
<html>
<head>
  <title>GREAT RESTAURANTS!!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar">
	<% if current_user %>
		Logged in as: <%= current_user.email %> | 
		<%= link_to "Logout", logout_path, method: :delete %>
	<% else %>
		<%= link_to "Login", login_path %>
	<% end %>
</nav>

<div class="container">
   <%= yield %>
</div>

</body>
</html>
